/* 🌟 Google Font (Poppins) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.container {
  width: 400px;
  background: rgba(169, 83, 83, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

h1 {
  text-align: center;
  color: #000000;
  font-size: 26px;
  margin-bottom: 15px;
}

input {
  width: 75%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  transition: 0.3s;
}

input:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #ff5722;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

button:hover {
  background: #119a21;
}

ul {
  list-style: none;
  margin-top: 15px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.3s;
}

li:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

label {
  color: rgb(0, 0, 0);
  font-size: 16px;
}

i {
  cursor: pointer;
  transition: 0.3s;
}

i:hover {
  transform: scale(1.2);
}

.fa-pencil {
  color: #000000;
}

.fa-xmark {
  color: #ff1100;
}
