
<div class="container">
<div class="todo-list">
  <h1>Todo List</h1>
<div>
  <input [(ngModel)]="todo.Title" type="text" placeholder="Add a new task..."/>

  <button [disabled]="!todo.Title" (click)="addTodo()" type="submit">{{todo.Id?'Update':'Add'}}</button>
</div>
<ul>
  <li *ngFor="let item of todoList">
    <label for="task3">{{item.Title}}</label>
    <i (click)="editTodo(item)" class="fa fa-pencil" style="padding-left:10px;"></i>
    <i (click)="deleteTodo(item.Id)" class="fa-solid fa-xmark" style="font-size: 15px; color: red; padding-left:10px;"></i>
  </li>
</ul>
</div>
</div>